<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>559265226085-lej396464heq2vlurdbdc78usnoqg1h7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.559265226085-lej396464heq2vlurdbdc78usnoqg1h7</string>
	<key>API_KEY</key>
	<string>AIzaSyD-zOt9gAFP0YkBB2RFAo3UMe8kEWLiGBQ</string>
	<key>GCM_SENDER_ID</key>
	<string>559265226085</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>bosch.Wish-my-friend</string>
	<key>PROJECT_ID</key>
	<string>good-friend-new</string>
	<key>STORAGE_BUCKET</key>
	<string>good-friend-new.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:559265226085:ios:15a9378103b90e3b59558c</string>
</dict>
</plist>